
  
  .about-page {
    .left-side {
      margin-top: 10vh;
      color: black;
      text-align: center;
    }
  
    .title {
      font-size: 42px;
      font-weight: bold;
      
    }
  
    .subtitle {
      font-size: 33px;
    }
  
    .subsubTitle {

      font-size: 18px;
    }

    .about {
        font-size: 18px;
    }
  
    .about-col {
        padding: 50px;
    }
  
  }

  .iw-link{
    color: rgb(136, 34, 34);
    text-decoration: solid;
    text-decoration: underline;
  }

  